section.page.history(id='displaySelection')
  #historyLabels.container
    .div.listContainer(id='listContainer')
      ul.httpExchangeList.list(id='httpExchangeList', role='httpExchangeList')
    .container
     .selectionDetailsView.container(role='selectionDetailsView', id='selectionDetailsView')