section.page.history(id='displaySelection')
  #historyLabels.container
        input.fuzzy-search(type='text')
        ul.httpExchangeList.list(id='httpExchangeList', role='httpExchangeList', style='width: 100%; height: 300px; overflow: auto')
        hr
      .selectionDetailsView.container(role='selectionDetailsView', id='selectionDetailsView')