section.page.history(id='displaySelection')
  #historyLabels.container
      .div.fill-height-or-more
       .div.listContainer(id='listContainer')
         ul.list.httpExchangeList.list(id='httpExchangeList', role='httpExchangeList')
      .selectionDetailsView.container(role='selectionDetailsView', id='selectionDetailsView')