li.httpExchangeElement.list-group-item
  p.httpExchangeLabel.route(role='route')
  p.httpExchangeLabel.method(role='method')
  p.httpExchangeLabel.statusCode(role='statusCode')
  p.httpExchangeLabel.responseLength(role='responseLength')
  p.httpExchangeLabel.responseTime(role='responseTime')
