.container
    .container.detailsNav(role='selectionTabs')
      ul.nav.navbar-nav
        li.active.rawTab
          a.coloredTab(href='#') Raw
        li.active.bodyTab
          a.coloredTab(href='#') Body
        li.active.renderTab
          a.coloredTab(href='#') Render
    .resizeBar(data-target='selectionDetailsView', role='resizeBar')
    .container
      .div.selectionViewPort(role='selectionViewPort',id='selectionViewPort')
       pre.requestViewer.language-http
        code.requestViewer.language-http(role='requestViewer')
       pre.responseViewer.language-http
        code.responseViewer.language-http(role='responseViewer')