li.httpExchangeElement.list-group-item.rootContainer(role='rootContainer')
  p.httpExchangeLabel.hostHeader Host
  div.vr
  p.httpExchangeLabel.routeHeader Route
  div.vr
  p.httpExchangeLabel.methodHeader Method
  div.vr
  p.httpExchangeLabel.statusCodeHeader Status
  div.vr
  p.httpExchangeLabel.responseLengthHeader Length
  div.vr
  p.httpExchangeLabel.responseTimeHeader Time