.container
    .container(role='selectionTabs')
      ul.nav.navbar-nav
        li.active.rawTab
          a(href='#') Raw
        li.active.bodyTab
          a(href='#') Body
        li.active.renderTab
          a(href='#') Render
        li.active.repeatTab
          a(href='#') Repeat
        li.active.fuzzTab
          a(href='#') Fuzz
    .container
      .div.selectionViewPort(role='selectionViewPort')
       pre.language-js
        code.language-js(role='dataViewer', style='overflow: auto; overflow-x: hidden; height: 95%;')