li.httpExchangeElement.list-group-item(role='rootContainer')
    p.httpExchangeLabel.host(role='host')
    div.vr
    p.httpExchangeLabel.route(role='route')
    div.vr
    p.httpExchangeLabel.method(role='method')
    div.vr
    p.httpExchangeLabel.statusCode(role='statusCode')
    div.vr
    p.httpExchangeLabel.responseLength(role='responseLength')
    div.vr
    p.httpExchangeLabel.responseTime(role='responseTime')
