body
  .container
    .navbar.navbar-default.navLogo
     ul.nav.navbar-nav
      li
       a.vicariusLogo(href='#', data-autoHide='hide', id='navBarHideButton', onClick='window.toggleNavBar()')
        span.glyphicon.glyphicon-chevron-right
    .navbar.navbar-default.navMenu(id='rootNavbar')
            ul.nav.navbar-nav
              li
                a(href='Configuration') Configuration
              li
                a(href='IDE') IDE
              li
                a(href='History') History
    li.httpExchangeLabels.list-group-item.rootContainer(role='rootContainer', id='rootContainer')
      p.httpExchangeLabel.referenceIdHeader ID#
      div.vr
      p.httpExchangeLabel.hostHeader Host
      div.vr
      p.httpExchangeLabel.routeHeader Route
      div.vr
      p.httpExchangeLabel.methodHeader Method
      div.vr
      p.httpExchangeLabel.statusCodeHeader Status
      div.vr
      p.httpExchangeLabel.responseLengthHeader Length
      div.vr
      p.httpExchangeLabel.responseTimeHeader Time
  .container
    main.main(role="page-container")


