meta(name='viewport', content='width=device-width initial-scale=1.0 maximum-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')
head
  title #title
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css')
  script(src='http://listjs.com/no-cdn/list.js')
  script(src='http://listjs.com/no-cdn/list.fuzzysearch.js')
