meta(name='viewport', content='width=device-width initial-scale=1.0 maximum-scale=1.0')
meta(name='apple-mobile-web-app-capable', content='yes')
head
  title #title
  meta(name='viewport', content='width=device-width')
  link(rel='stylesheet', href='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(type='text/javascript', src='https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
  script(src='http://listjs.com/no-cdn/list.js')
  link(rel='stylesheet', href='/public/css/prism.css')
